<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="text-align: center; font-weight: bold;">
    <span>Bienvenido a </span>
    <span style="color: rgb(57, 152, 235); font-weight: bold;">JS.</span>
    <span style="color: rgb(240, 54, 54); font-weight: bold;">Soluc.</span> <span
      style="color: blue; font-weight: bold;">Tech</span>
  </h2>

</ion-content>